html {
  background: url("../home_bg1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background: rgba(255,255,255,.2);
  text-align: center;
}

h1 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 70px 50px 0px 0px;
    font-size: 5vw;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
  h1 {
    width: 100%;
    margin-top: 150px;
  }
}

h2 {
  font-family: 'Kalam', cursive;
  font-size: 2.4vw;
  color: #202020;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-family: 'Kalam', cursive;
  font-size: 2vw;
  color: #202020;
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
}
/* Navbar */

.navbar-nav > li > a {
	font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  font-weight: 600;
  color: white !important;
}

.navbar-nav {
  min-height: 30px !important;
  float: right;
}

.navbar-default {
  background-color: black;
}

li:hover {
  background-color: gray !important;
}

.brand-bar {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
  float: left;
  height: 45px;
  margin: 2px;
  padding: 5px 80px 5px 80px;
  line-height: 20px;
}

.navbar-inverse .brand-bar {
  background-image: url(../logo.png);
}

/* circles */

.img-circle {
  height: 200px;
  width: 200px;
  margin: 0px 80px 0px 70px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
}

.circles {
  align-items: center;
  margin-top: 50px;
}

@media screen and (max-width:1500px) {
  .circles {
    width: 100%;
  }
  .img-circle {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width:800px) {
  .circles {
    width: 100%;
  }
  .img-circle {
    height: 50px;
    width: 50px;
  }
}
/* social */

.find_us {
  align-items: center;
  margin-top: 30px;
}

}
@media screen and (max-width:800px) {
  .find_us {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .social {
    margin-top: 2%;
    margin-bottom: 0;
    width: 100%;
  }
}

.social {
  align-items: center;
  margin-top: 0px;
}

.social ul {
    padding: 0;
    margin: 0;
}

.social ul li {
    display:inline-grid;
    margin: 0 .5em 0 0;
}

.social ul li a {
    text-align: center;
}

.social ul li a i.fab.fa-facebook-f, .social ul li a i.fab.fa-twitter, .social ul li a i.fab.fa-instagram {
    height: 30px;
    width: 30px;
    border: solid 2px #404040;
    line-height: 29px;
    transition: 0.5s all;
    background-color: #9F9B9B;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social ul li a i.fab.fa-facebook-f:hover {
  border: solid 2px #55acee;
	color: #154360;
}

.social ul li a i.fab.fa-twitter:hover {
	border: solid 2px #55acee;
	color: #154360;
}

.social ul li a i.fab.fa-instagram:hover {
	border: solid 2px #55acee;
	color: #154360;
}

/* circles */

#rain:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: center;
-moz-transform-origin: center;
-o-transform-origin: center;
transform-origin: center;
opacity: 1;
}

#snow:hover {
-webkit-transform: scale();
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: center;
-moz-transform-origin: center;
-o-transform-origin: center;
transform-origin: center;
opacity: 1;
}

#sun:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: center;
-moz-transform-origin: center;
-o-transform-origin: center;
transform-origin: center;
opacity: 1;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: black;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 10px 100px 25px 100px;
}

.footer p {
  margin: 0;
  font-family: 'Kalam', cursive;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
